/* Start with mobile style */
* {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
	background-color: black;
	font-family: Arial, sans-serif;
}
ul li {
    list-style: none;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 70px;
	background-color: black;
	color: white;
    border-bottom: 1px solid #3c3939;
    z-index: 1;
}
.header-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.search-event {
	display: none;
}
.my-account {
	display: none;
}
.search {
	position: absolute;
	right: 10px;
	top: 22px;
	font-size: 1.5em;
	color: #FF3738;
}
.mobile-logo {
	height:35px;
}
.toggle-btn {
    position: absolute;
    left: 10px;
    top: 22px;
    font-size: 1.5em;
    color: #FF3738;
}
#fullScreenImage {
	width: 100vw;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../imgs/home-page-background.jpg);
	background-position: 32% -95px;
	background-size: 1014px;
	background-repeat: no-repeat;
	//margin-top: 70px;
}

.search-container {
    width: 90%;
    margin-top: 50px;
}
.search-container h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 5px;
}
.search-box {
	position: relative;
	background-color: white;
	height: 50px;
	width: 100%;
	border-radius: 10px;
}
.search-msg {
	position: absolute;
    left: 10px;
    top: 16px;
    font-size: 1em;
    color: grey;
}
.search-btn {
	position: absolute;
	right: 0;
	background-color: #FF3738;
	height: 50px;
	width: 50px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.search-box a {
	position: absolute;
	right: 15px;
	top: 12px;
	font-size: 1.3em;
	color: white;
}
#events { /*Test only*/
}
#sell-with-us {
	position: relative;
	display: flex;
	justify-content: center;
	height: 500px;
    background-image: url(../imgs/sell-with-us-background1.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1660px;
    z-index: -2;
}
#sell-with-us .dot-mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../imgs/dot-mask.png);
	z-index: -1;
}
#sell-with-us h1 {
	font-size: 2.5em;
	font-weight: 300;
	padding-top: 60px;
	color:#2f2f2f;
}
#sell-with-us p {
	color: #737272;
    line-height: 150%;
    padding-top: 20px;
}
.with-us-container {
	width: 90%;
}
.with-us-btn-container {
	display: flex;
	align-items: center;
    margin-top: 40px;
}
.with-us-btn-container div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	height: 50px;
	width: 45%;
	max-width: 179px;
	border-radius: 5px;
	text-align: center;
	letter-spacing: 2px;
	margin-left: 10px;
}
.with-us-btn-container .left-btn {
	background-color: white;
}
.with-us-btn-container .right-btn {
	color: white;
	background-color: #FF3738;
}
#toggleMenu {
	display: block;
	position: fixed;
	top: 0;
	overflow: scroll;
	background-color: rgba(0, 0, 0, 0.74);
	color: white;
	font-size: 1.2em;
	text-align: center;
	width: 100vw;
	height: 100%;
	-webkit-transform: translate(-100vw, 0px);
	transform: translate(-100vw,0px);
	transition: transform 0.3s ease;
	z-index: 11;
}
#toggleMenu ul {
	margin-top: 70px;
    margin-bottom: 20px;
}
#toggleMenu .close {
	position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    font-size: 1.5em;
}
#toggleMenu li {
	line-height: 200%;
	cursor: pointer;
}
#toggleMenu.open {
  -webkit-transform: translate(0, 0px);
  transform: translate(0, 0px);
}
@media screen and (min-width: 420px) {
	.search-container {
		width: 80%;
	}
}
@media screen and (min-width: 570px) {
	.search-container {
		margin-top: 0;
	}
	.toggle-btn {
		display: none;
	}
	header {
		position: relative;
	}
	.header-container {
		justify-content: flex-start;
		padding-left: 10px;
		width: 90%;
	}
	.search-event {
		display: block;
		color: white;
		font-size: 0.6em;
	    letter-spacing: 1px;
	    margin-left: 15px;
	}
	.my-account {
		display: block;
		position: absolute;
		right: 20px;
		top: 30px;
		font-size: 0.6em;
	    letter-spacing: 1px;
	    color: white;
	}
	header i.fa {
		font-size: 1.2em;
	}
	.search {
		display: none;
	}
	#toggleMenu {
		display: none;
	}
	#sell-with-us .dot-mask {
		display: block;
	}
}
@media screen and (min-width: 800px) {
	.header-container {
		width: 85%;
	}
	#fullScreenImage {
		width: auto;
		height: calc(100vh - 70px);
		background-position: 35% -161px;
		background-size: 1359px;
	}
	.search-container {
		width: 640px;
	}
	#sell-with-us {
		background-size: 1920px;
	}
}
